<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         bootstrap="tests/bootstrap.php"
>
    <php>
        <const name="AUTH_USER" value="username"/>
        <const name="AUTH_TOKEN" value="token"/>
        <const name="AUTH_SUBDOMAIN" value="subdomain"/>
    </php>
</phpunit>
